.narrow {
    max-width: 900px;
    margin: 0 auto;
}

a {
    color: #000 !important;
    text-decoration: none !important;
}

.page-padding {
    padding: 4rem;
}

.welcome.page>.narrow>img {
    margin: 0 auto;
    display: block;
    width: 200px;
}

.welcome.page>.narrow>ul {
    width: 80%;
    justify-content: space-between;
    margin: 4rem auto;
    border-bottom: none;
}

.welcome.page>.narrow>ul>li {
    background-color: inherit;
    margin: auto;
}

.welcome.page>.narrow>ul>li>a {
    font-size: 14px;
    min-height: 32px;
    border-bottom-color: rgb(98, 100, 167);
}

.center {
    text-align: center;
}

.sections>* {
    margin: 4rem auto;
}

pre,
div.error {
    background-color: #e5e5e5;
    padding: 1rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 1rem 0;
    max-height: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
}

pre.fixed,
div.error.fixed {
    height: 200px;
}

code {
    background-color: #e5e5e5;
    display: inline-block;
    padding: 0px 6px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.dark pre {
    background-color: #1b1b1b;
}

.dark code {
    background-color: #1b1b1b;
}

.dark div.error {
    background-color: #1b1b1b;
}

.error {
    color: red;
}

.container {
    width: 920px !important;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin-top: 1.5%;
}

.containerradio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.containerradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.containerradio:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.containerradio input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.containerradio input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.containerradio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.formlabel {
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.searchBar input {
    /* background-image: url("Group 16.png"); */
    background-repeat: no-repeat;
    outline: none;
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    background-position: 96%;
    background-color: #f7f7f7;
    padding-left: 10px;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    color: white;
}

.card1 {
    width: 91px;
    height: 49px !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background-color: #E4E4F0 !important;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 5px;
}

.card2 {
    width: 91px;
    height: 49px !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background-color: #00ACEE !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

.card3 {
    width: 91px;
    height: 49px !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background-color: #19AEED !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

.card4 {
    width: 91px;
    height: 49px !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 152, 157, 0.15) !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

.card5 {
    width: 91px;
    height: 49px !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background-color: rgba(41, 45, 50, 0.15) !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

.card6 {
    width: 91px;
    height: 49px !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background-color: #B7E383 !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

.card7 {
    width: 91px;
    height: 49px !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background-color: #A9938C !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

.card8 {
    width: 91px;
    height: 49px !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 57, 1, 0.15) !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

.card img {
    max-width: 100%;
    max-height: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.card-text p {
    margin: 0;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 15px;
}

.card-text h3 {
    position: absolute;
    top: 0;
    font-weight: 900;
}

.card p {
    margin: 0;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}


/* .card-text {
  display: grid;
} */

.sec-flex {
    display: flex;
    align-items: center;
}

.sec-flex img {
    width: 13%;
    height: 44px;
}

.mainContent {
    padding-left: 10px;
    padding-top: 15px;
}

.mainContent h6 {
    font-weight: 600;
}

.mainContent p {
    font-weight: 600;
    font-size: 10px;
    color: rgba(130, 130, 130);
}

.sitecard {
    margin-inline: 7px;
}

.sec1 {
    margin-top: 11%;
    width: 98%;
    background: #fff;
    border-radius: 7px;
}

.sec1-hr {
    width: 21%;
    border-radius: 14px;
    background: #C4C5E4;
    height: 20px;
    font-size: small;
    font-weight: 600;
}

.sec2-hr {
    width: 21%;
    border-radius: 14px;
    background: #FDDDD3;
    height: 20px;
    font-size: small;
    font-weight: 600;
}

.sec3-hr {
    width: 21%;
    border-radius: 14px;
    background: #FDDDD3;
    height: 20px;
    font-size: small;
    font-weight: 600;
}

.sec4-hr {
    width: 21%;
    border-radius: 14px;
    background: #CEEDFC;
    height: 20px;
    font-size: small;
    font-weight: 600;
}

.mainBody {
    height: 100px;
    overflow-y: auto;
    padding: 5px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.grid-flex {
    display: flex;
    font-size: 12px;
    font-weight: 600;
}

.sec1-grid {
    display: grid;
    margin-inline: 5px;
    margin-top: 10px;
}

.sec1-ag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 4%;
}

.workspace-ul {
    margin-top: 11px;
}

.workspace-ul li {
    margin-block: 2%;
}

.workspace-card {
    border: 1px solid gray;
    border-radius: 5px;
    width: 440px;
    padding-left: 4%;
    padding-top: 2%;
    background: #fff;
}

.workspace-grid {
    display: grid;
    gap: 20px;
}

.workspace-card {
    transition: transform 0.2s ease-in-out;
}

.workspace-card:hover {
    transform: scale(1.03);
}

.fontawesome {
    position: absolute;
    left: 92%;
    top: 3%;
    font-size: 17px;
    color: grey;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.fontawesome:hover {
    transform: rotate(90deg);
}

a:selected {
    background-color: #2196F3;
}